.wrapper{
    height: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;
    color: white;
    display: grid;
    grid-template-columns:  256px 1fr;
    gap: 2rem;
    align-items: flex-start;
    width: 90%;
 

}

@media (max-width: 758px){
    html{
        font-size: 87.5%;
    }
    .wrapper{
        grid-template-columns: 1fr;
     
    }
}
 